.comments {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 85vw;
  height: 70vh;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.comments-side {
  min-width: 3.5rem;
}

.comments-mid {
  padding: 0.9rem 0.4rem;
  flex-grow: 1;
}

.comments-mid form {
  margin: 0 0 0.5rem 0;
}

.comments-mid form textarea {
  border-radius: 2rem;
  padding: 0.2rem;
  background-color: gray;
  border: none;
  color: #F5F7FF;
  line-height: 0.8rem;
  text-align: center;
}

.comments-mid form textarea::placeholder {
  color: #F5F7FF;
  text-align: center;
}

.cc-btn {
  border-color: #333333;
  color: #fff;
  line-height: 2rem;
  background-image: linear-gradient(45deg, #333333 50%, #1c6cff 50%);
  border-radius: 2rem;
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
  padding: 0 0.6rem;
  margin: 0 0.4rem;
  position: relative;
  top: -2rem;
}

.cc-btn:hover {
  background-position: 0;
  cursor: pointer;
}


.comment {
  display: flex;
  justify-content: space-between;
  box-shadow: #F5F7FF 0.2rem 0.2rem 0.4rem;
  border-radius: 2rem;
  margin: 0.4rem 0;
  font-size: 0.8rem;
}

.comment-side {
  min-width: 5rem;
}

.comment-mid {
  flex-grow: 1;
}

.comment-form {
  resize: none;
}

.create-comment-area {
  resize: none;
  font-size: 0.8rem;
}

.edit-comment {
  display: flex;
  flex-direction: column;
}

.edit-comment button {
  margin: 0.4rem 0;
}

@media screen and (max-width: 950px) { 
  .comment-form {
    width: 23rem;
  }

  .create-comment-area {
    width: 30rem;
  }

}

@media screen and (max-width: 800px) { 
  .comment-form {
    width: 19rem;
  }

  .create-comment-area {
    width: 20rem;
  }
}

@media screen and (max-width: 715px) { 
  .comment-form {
    width: 15rem;
  }
}

@media screen and (max-width: 650px) { 
  .comments {
    width: 100vw;
    top: 70%;
    left:70%;
    transform: translate(-70%,-70%);
  }

  .comment {
    width: 95vw;
  }

  .comments-side {
    min-width: 0;
    transform: translate(-3.5rem)
  }

  .comment-side {
    min-width: 2rem;
  }

  .extra-post {
    transform: translate(-1rem);
    width: 6rem;
  }

  .left-post {
    transform: translate(0.5rem);
  }
  .comment-mid {
    width: 30rem;
  }
}

@media screen and (max-width: 500px) { 
  .comment-form {
    width: 12rem;
  }

  .create-comment-area {
    width: 22rem;
    margin: 0 3rem 0 0;
  }

  .cc-btn {
    top: 0;
  }
}

@media screen and (max-width: 410px) { 
  .create-comment-area {
    width: 18rem;
    margin: 0 3rem 0 0;
  }
}