.comments {
  position: absolute;
  display: flex;
  flex-direction: column;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 90vw;
  height: 80vh;
  max-height: 800px;
  background-color: #C8FFE0;
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  border: 1px solid #457b9d;
}

.comments:hover {
  background-color: #457b9d;
}

.post-comment {
  margin: 0 0.5rem 0.2rem 0.5rem;
}

.comments-mid {
  padding: 0.9rem 0.4rem 0 0.4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments-mid form textarea {
  border-radius: 2rem;
  padding: 0.6rem;
  background-color: #33BBC5;
  border: none;
  color: #C8FFE0;
  line-height: 0.8rem;
  text-align: left;
  width: 95%;
  height: 5rem;
  display: flex;
  margin: 0 1rem;
}

.comments-mid form textarea::placeholder {
  color: #C8FFE0;
  text-align: center;
}

.cc-btn {
  border-color: #457b9d;
  color: #C8FFE0;
  line-height: 2rem;
  background-image: linear-gradient(45deg, #457b9d 50%, #33BBC5 50%);
  border-radius: 2rem;
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
  padding: 0 0.6rem;
  margin: 0 0.4rem;
  position: relative;
}

.cc-btn:hover {
  background-position: 0;
  cursor: pointer;
  border-color: #C8FFE0
}

.comment-container {
  overflow-y: auto;
  max-height: 45vh;
}

.comment {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  box-shadow: #F5F7FF 0.2rem 0.2rem 0.4rem;
  border-radius: 2rem;
  margin: 0.4rem 0.4rem;
  font-size: 0.8rem;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.comment-close {
  background-color: transparent;
  border: none;
}

.comment-content {
  margin: 0 0 0.5rem 0.8rem;
  text-align: left;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.comment-like {
  margin: 0 0 0.4rem 0;
  font-size: 0.7rem;
}

.comment-btns {
  background-color: transparent;
  border: none;
}

.comment-btns:hover {
  cursor: pointer;
}

.create-comment-form {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}

.comment-form {
  resize: none;
}

.create-comment-area {
  resize: none;
  font-size: 0.8rem;
}

@media screen and (max-width: 950px) { 
  .comment-form {
    width: 23rem;
  }

  .create-comment-area {
    width: 30rem;
  }

}

@media screen and (max-width: 800px) { 
  .comment-form {
    width: 19rem;
  }

  .create-comment-area {
    width: 20rem;
  }
}

@media screen and (max-width: 715px) { 
  .comment-form {
    width: 15rem;
  }
}

@media screen and (max-width: 650px) { 
  .comments {
    width: 100vw;
    top: 70%;
    left:70%;
    transform: translate(-70%,-70%);
  }

  .comment {
    width: 95vw;
  }

  .comments-side {
    min-width: 0;
    transform: translate(-3.5rem)
  }

  .comment-side {
    min-width: 2rem;
  }

  .comment-mid {
    width: 30rem;
  }
}

@media screen and (max-width: 500px) { 
  .comment-form {
    width: 12rem;
  }

  .create-comment-form{
    flex-direction: column;
  }

  .create-comment-area {
    width: 22rem;
    margin: 0 3rem 0 0;
  }

  .cc-btn {
    margin: 0.2rem 0;
  }

  .comment {
    margin: 0.4rem auto;
    width: 85vw;
  }

  .comment-body {
    margin: 0 0.2rem;
  }

  .comments-mid form textarea {
    width: 90%;
  }
}

@media screen and (max-width: 410px) { 
  .create-comment-area {
    width: 18rem;
    margin: 0 3rem 0 0;
  }
}