.ff-title {
  background-color: #457b9d;
  width: 40%;
  margin: 0.5rem auto;
  border-radius: 2rem;
  color: #C8FFE0;
}

.ff-label {
  color: #457b9d;
  font-weight: bold;
}

#search {
  margin: 0.5rem auto 1rem auto;
  color: #457b9d;
  background-color: transparent;
  border: none;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: bold;
  min-width: 15rem;
}

#search:hover {
  background-color: transparent;
  box-shadow: #F5F7FF 0.2rem 0.2rem 0.4rem;
  background-color: #457b9d;
  color: #C8FFE0;
}

select option {
  width: 310px;
  padding: 10px 15px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}

.ff-input {
  border-radius: 2rem;
  text-align: center;
  margin: 0.2rem 0;
  border-radius: 2rem;
  padding: 0.5rem 0.2rem;
  background-color: #457b9d;
  border: none;
  color: #C8FFE0;
  text-align: center;
}

.ff-input::placeholder {
  color: #C8FFE0;
  text-align: center;
  opacity: 0.5;
}

.ff-input:hover {
  box-shadow: #F5F7FF 0.2rem 0.2rem 0.4rem;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#85E6C5, #33BBC5 50%,#00DDEB);
  border: 0;
  border-radius: 0.5rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #C8FFE0;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  cursor: pointer;
  margin: 0.8rem auto;
}

.button-64:active,
.button-64:hover {
  outline: 0;
  color: #457b9d;
  font-weight: bold;
}

.button-64 span {
  background-color: #457b9d;
  padding: 12px 14px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  align-items: center;
}

.friend {
  display: flex;
  justify-content: space-around;
  box-shadow: #33BBC5 0.5rem 0.4rem 0.3rem;
  border-radius: 2rem;
  color: #C8FFE0;
  font-size: 0.8rem;
  background-color: #457b9d;
  margin: 0.8rem;
}

.friend:hover {
  cursor: pointer;
  transform: translate(-0.5rem)
}

.friend a {
  color: #C8FFE0;
  text-decoration: none;
}

.friend a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.profile-image {
  margin: 0.7rem 0 0 0.6rem;
  width: 4.2rem;
  border-radius: 2rem;
  background-color: #85E6C5;
  padding: 0 0 0.2rem 0;
}

@media screen and (max-width: 800px) { 
  .ff-title {
    width: 60%;
  }

  .friends {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) { 
  .friends {
    grid-template-columns: 1fr;
  }
}