.message-form {
  display: flex;
}

.input {
  background-color: #85E6C5;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 10rem;
  color: gray;
  margin: 0.25rem 0;
}

.input::placeholder {
  color: gray;
  font-weight: bold;
}

.message-submit {
  margin: 0 0 0 1rem;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: #F5F7FF;
  font-weight: bold;
  font-size: 0.9rem;
  background-image: linear-gradient(45deg, #85E6C5 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
  border-radius:  2rem;
}

.message-submit:hover {
  cursor: pointer;
  background-position: 0;
}

.message-board {
  display: flex;
  width: 100vw;
  background-color: #33BBC5;
  border-radius: 2rem;
  padding: 0.3rem;
}

.message-board-title {
  background-color: #85E6C5;
  border-radius: 2rem;
  margin: 0.5rem 5rem;
  padding: 0.3rem 0;
  font-size: 1.6rem;
}

.message-board aside {
  min-width: 13.5rem;
}

.messages-area{
  flex-grow: 1;
}

.message-friends {
  height: 55vh;
  overflow-y: auto;
  background-color: #85E6C5;
  border-radius: 2rem;
}

.odd-friend {
  background-color: #C8FFE0;
  border-radius: 2rem;
  margin: 0.4rem 1.3rem;
  padding: 0.2rem 0;
}

.odd-friend button {
  border: none;
  background-color: #C8FFE0;
}

.odd-friend button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.even-friend {
  background-color: #33BBC5;
  border-radius: 2rem;
  margin: 0.4rem 1.3rem;
  padding: 0.2rem 0;
}

.even-friend button {
  border: none;
  background-color: #33BBC5;
}

.even-friend button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sent-message, .received-message {
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  padding: 0 0.4rem 0.2rem 0.4rem;
  margin: 0.4rem;
}

.sent-message {
  align-items: flex-start;
  background-color: #C8FFE0;
}

.sent-message p {
  text-align: start;
}

.message-sender {
  font-size: 0.72rem;
  margin: 0 0.2rem;
  padding: 0 0.3rem 0 0.3rem;
  color: rgb(47, 47, 47);
}

.message-content {
  margin: 0.4rem 0.2rem 0 0.2rem;
  font-size: 0.9rem;
  padding: 0 0.3rem 0 0.3rem;
}

.received-message {
  align-items: flex-end;
  background-color: #33BBC5;
}

.received-message p {
  text-align: start;
}

.message-container {
  margin: 0 2rem 0.5rem 2rem;
  height: 60vh;
  overflow-y: auto;
  background-color: #85E6C5;
  border-radius: 2rem;
}
