nav {
  width: 80vw;
  background-color: #333333;
  margin: 0.3rem auto;
  display: flex;
  justify-content: space-around;
  border-radius: 2rem;
  padding: 0.4rem 0.3rem 0.2rem 0.3rem;
}

.nav-bar-logo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
}

.nav-bar-logo a {
  margin: 0.2rem 0 0 1.5rem;
  padding: 0.3rem 0 0 0;
}

.nav-bar-logo a:hover {
  border-radius: 2rem;
  scale: 1.2;
  animation-name: spin3D;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out
}

.nav-bar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav-bar-items a {
  padding: 0.3rem 0.3rem 0.2rem 0.2rem;
  color: #F5F7FF;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  scale: 1.1;
  padding: 0.2rem 0.06rem 0.3rem 0.1rem;
  font-weight: bold;
}

.user-icon {
  // padding: 0.2rem 0.3rem 0.3rem 0.2rem;
  margin: 0.2rem 0.3rem 0.3rem 0.2rem;
  background-color: white;
  border-radius: 2rem;
}

.user-icon:hover {
  scale: 1.1;
  // margin: 0.1rem 0.2rem 0.2rem 0.1rem;
  animation-name: spin3D;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out
}

.logout-btn {
  margin: 0 2rem 0 0;
  border: none;
  background-color: transparent;
  padding: 0.3rem;
  color: #F5F7FF;
  font-weight: bold;
  font-size: 0.9rem;
  background-image: linear-gradient(45deg, gray 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
  border-radius:  2rem;
}

.logout-btn:hover {
  cursor: pointer;
  scale: 1.2;
  background-position: 0;
}

@keyframes spin3D {
  from { transform: rotateY(0deg) }
  to { transform: rotateY(360deg) }
}

@media screen and (max-width: 600px) { 
  nav {
    width: 95vw;
  }

  .nav-bar-logo {
    padding: 0 0 0.4rem 0;
  }

  .nav-bar-logo a img {
    width: 28px;
  }

  .nav-link:hover {
    padding: 0 0.25rem;
    scale: none;
    text-decoration: none;
    font-weight: normal;
  }

  .nav-bar-items a {
    font-size: 0.8rem;
  }

  .user-icon {
    width: 30px;
  }

  .logout-btn {
    font-size: 0.8rem;
    margin: 0 1rem 0 0;
    font-weight: normal;
  }
}

@media screen and (max-width: 400px) {
  nav {
    width: 100vw;
  }

  .nav-bar-items a {
    font-size: 0.72rem;
  }

  .nav-link:hover {
    scale: none;
    padding: 0 0.25rem;
    text-decoration: none;
    font-size: normal;
  }
}

