.post-container {
  display: grid;
  grid-template-columns: 1fr;
}

.pp-post-container {
  display: grid;
  grid-template-columns: 1fr;  
}

.post {
  box-shadow: #457b9d 0.5rem 0.4rem 0.4rem;
  border-radius: 2rem;
  display: flex;
  margin: 1.7rem 5rem 2.4rem 5rem;
  color: #33BBC5;
  flex-direction: column;
  border: none;
}

.post:hover {
  background-color: #457b9d;
  box-shadow: #33BBC5 0.5rem 0.4rem 0.4rem;
  color: #C8FFE0;
}

.post-heading {
  display: flex;
  justify-content: space-between;
}

.post-author {
  margin: 0.5rem 0 0 1.2rem;
}

.post-close-container {
  margin: 0.5rem 0.5rem 0 0;
}

.post-close {
  background-color: transparent;
  border: none;
}

.post-close:hover {
  cursor: pointer;
  scale: 1.1;
}

.post-body {
  text-align: left;
  margin: 0.5rem 1.5rem;
}

.post-likes {
  font-size: 0.6rem;
}

.post-btns {
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.post-btns:hover {
  scale: 1.3;
  cursor: pointer;
}

.post-update-form textarea {
  background-color: #33BBC5;
  border: none;
  color: #C8FFE0;
  width: 50rem;
  resize: none;
}

@media screen and (max-width: 1000px) {
  .post-update-form textarea {
    width: 38rem;
  }
}

@media screen and (max-width: 800px) { 
  .post-container, .pp-post-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .post-update-form textarea {
    width: 28rem;
  }
}

@media screen and (max-width: 650px) { 
  .post {
    margin: 1rem;
  }
}

@media screen and (max-width: 500px) { 
  .post {
    margin: 0.4rem 0.2rem;
  }

  .post-update-form textarea {
    margin: 0.2rem 0 0 0;
    width: 24rem;
  }

  .post-update-form p {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 420px) {
  .post-update-form textarea{
    width: 17rem;
  } 
} 

@media screen and (max-width: 300px) {
  .post-update-form textarea{
    width: 14.5rem;
  } 
} 