.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  max-height: 80vh;
}

.pp-post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  max-height: 65vh;
  
}

.post {
  box-shadow: #F5F7FF 0.2rem 0.2rem 0.4rem;
  border-radius: 2rem;
  display: flex;
  margin: 1.7rem;
  color: #F5F7FF;
}

.post:hover {
  background-color: #9A9FB3;
}

.extra-post {
  display: flex;
  min-width: 3.6rem;
  margin: 0.2rem;
}

.left-post {
  justify-content: flex-end;
  flex-direction: column;
  margin: 1rem 0.3rem
}

.left-post div p {
  margin: 0;
}

.left-post button {
  background-color: transparent;
  border: none;
}
.left-post button:hover {
  cursor: pointer;
  scale: 1.1;
}

.change-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  flex-grow: 1;
}

.change-post button {
  background-color: transparent;
  border: none;
}

.change-post button:hover {
  cursor: pointer;
  scale: 1.1;
}

.edit-post {
  display: flex;
  flex-direction: column;
}

.edit-post button {
  margin: 0.2rem 0;
}

.main-post-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.2rem 0 1rem 0;
}

.post-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-content h3 {
  margin: 0.4rem;
}


.view-comment-btn {
  border: none;
  border-radius: 2rem;
  background-color: transparent;
  color: #F5F7FF;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  padding: 0.4rem;
  width: 8rem;
  margin: 0.4rem auto;
}

.view-comment-btn:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #333333;
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.view-comment-btn:hover {
  color: #F5F7FF;
  cursor: pointer;
}

.view-comment-btn:hover:after {
  width: 110%;
}

.post-update-form textarea {
  background-color: gray;
  border: none;
  color: #F5F7FF;
}

@media screen and (max-width: 800px) { 
  .post-container, .pp-post-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 650px) { 
  .post {
    margin: 1rem;
  }
}

@media screen and (max-width: 500px) { 
  .post {
    margin: 0.4rem 0.2rem;
  }

  .post-content h3 {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  .post-content p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  .likes {
    font-size: 0.8rem;
  }

  .change-post button img {
    width: 18px;
  }

  .post-update-form textarea {
    margin: 0.2rem 0 0 0;
    resize: none;
  }

  .post-update-form p {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 420px) {
  .post-update-form textarea{
    width: 8rem;
  } 
  
} 