.mp-title {
  color: #C8FFE0;
  background-color: #457b9d;
  border-radius: 2rem;
  width: 12rem;
  padding: 0.4rem 0;
  margin: 0 auto; 
}

.user-display {
  display: flex;
  justify-content: space-around;
  background-color: #457b9d;
  border-radius: 2rem;
  padding: 0.6rem;
  margin: 0.4rem auto;
  width: 70vw;
}

.user-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15rem;
  color: #C8FFE0;
  min-height: 15rem;
  background-color: #33BBC5;
  border-radius: 2rem;
}

.user-information h3, .user-information p {
  margin: 0.7rem 0.2rem;
  
}

.friend-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  color: #C8FFE0;
  background-color: #33BBC5;
  border-radius: 2rem;
  margin: 0 0.5rem;
}

.friend-list h3 {
  margin: 0.4rem 0;
}

.friend-list a {
  color: #C8FFE0;
  text-decoration: none;
  line-height: 1.3rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  margin: 0 0.8rem 0.2rem 0.8rem;
}

.friend-list a:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #457b9d;
  
}

.sample-friend-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.friend-username {
  border-radius: 2rem;
  margin: 0.3rem 0.2rem;
  padding: 0.2rem 0 0.3rem 0;
}

.friend-username:hover {
  background-color: #457b9d;
}

.friend-username a {
  color: #C8FFE0;
  text-decoration: none;
  line-height: 1rem;
  margin: 0;
  
}

.friend-username a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.friend-username a p {
  margin: 0.2rem 0 0 0;
}

.profile-hamburger { 
  display: none;
}


.create-post {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-63%);
  width: 30rem;
  height: 63vh;
  // max-height: 800px;
  background-color: #457b9d;
  backdrop-filter: blur(20px);
  border-radius: 2rem;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.post-side {
  min-width: 2rem;
}

.close-comment {
  background-color: transparent;
  border: none;
  margin: 0.4rem;
}

.close-comment:hover {
  cursor: pointer;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  overflow: hidden;
  // padding: 2rem 0 0 0;
}

.create-post-icon {
  background-color: #33BBC5;
  margin: 0 1.4rem;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem;
  width: 3.2rem;
  height: 2rem;
  border: none;
}

.create-post-icon:hover {
  cursor: pointer;
  box-shadow: #457b9d 0.2rem 0.2rem 0.4rem;
  scale: 1.1;
}

.create-post-form label {
  margin: 2rem 0 0 0;
  color: #C8FFE0;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: #33BBC5;
  border-radius: 2rem;
}

.post-description {
  flex-grow: 1;
  margin: 2rem 2rem;
  resize: none;
  background-color: #33BBC5;
  color: #C8FFE0;
}

.post-description::placeholder {
  color: #C8FFE0;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-btn {
  min-width: 12rem;
  min-height: 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 550;
  color: #C8FFE0;
  background: #33BBC5;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #33BBC5;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 0.8rem;
  }

.post-btn::before {
content: '';
  border-radius: 1000px;
  min-width: calc(210px + 12px);
  min-height: calc(50px + 12px);
  border: 0.2rem solid #33BBC5;
  box-shadow: 0 0 60px #33BBC5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.post-btn:hover, .post-btn:focus {
  color: #C8FFE0;
  transform: translateY(-6px);
}

.post-btn:hover::before, .post-btn:focus::before {
  opacity: 1;
}

.post-btn::after {
  content: '';
  width: 2rem; height: 2rem;
  border-radius: 100%;
  border: 6px solid #33BBC5;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.post-btn:hover::after, .post-btn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.image-upload {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%,-63%);
  width: 30rem;
  height: 63vh;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 2rem;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.post-image {
  flex-grow: 1;
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.unfriend {
  border-radius: 2rem;
  background-color: transparent;
  font-weight: 600;
  color: #F5F7FF;
  border: none;
  padding: 0.4rem 1rem;
  line-height: 2rem;
  background-image: linear-gradient(45deg, #333333 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
  text-decoration: none;
}

.unfriend:hover {
  background-position: 0;
  cursor: pointer;
}

.only-sidebar-profile {
  display: none;
}

@media screen and (max-width:800px) {
  .user-display {
    width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  .post-description {
    margin: 2rem 0.8rem;
  }

  .create-post, .image-upload {
    width: 100vw;
  }

  .user-information {
    flex-grow: 1;
  }

  .hamburger-placement {
    display: flex;
  }

  .user-information h3 {
    flex-grow: 1;
    margin: 0.7rem 0 0.7rem 2.7rem;
  }

  .profile-hamburger {
    display: flex;
    margin: 0.65rem 2rem 0 0;
    background-color: transparent;
    border: none;
    width: 1rem;
  }

  .profile-hamburger:hover {
    cursor: pointer;
  }

  .profile-sidebar {
    position: fixed;
    transform: translate(200%)
  }

  .open-profile {
    transform: translate(53%);
    transition: .5s;	
    z-index: 1;
    position: fixed;
    height: 15rem;
    border: 1px solid 
  }

  .close-profile {
    display: block;
    transform: translate(200%);
    transition: .5s;	
    z-index: 1;
    position: fixed;
    width: 40vw;
  }

  .only-sidebar-profile {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color:#C8FFE0;
  }

  .only-sidebar-profile:hover {
    cursor: pointer;
    background-color: #457b9d;
    border-radius: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .open-profile {
    transform: translate(35%);
    transition: .5s;	
    z-index: 1;
    position: fixed;
    height: 15rem;
    border: 1px solid 
  }

  .user-information h3 {
    margin: 0.7rem 0 0.7rem 2.5rem;
  }

  .profile-hamburger {
    margin: 0.65rem 1.1rem 0 0;
  }
}