.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F5F7FF;
  // height: 100%;
}

.start-title{
  border-radius: 2rem;
  padding: 1rem;
  width: 50%;
  align-items: flex-start;
  // background-color: #333333;
  font-size: 3rem;
}

.start-logo {
  background-color: #333333;
  border-radius: 2rem;
}

.start-buttons {
  // border: 0.2rem black solid;
  border-radius: 2rem;
  width: 30%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  // background-color: #333333;
  margin: 1rem 0 1rem 0;
}

.start-button {
  border: none;
  background-color: transparent;
  padding: 0.4rem;
  color: #F5F7FF;
  font-weight: bold;
  font-size: 1.2rem;
}

.start-button:hover {
  cursor: pointer;
  scale: 1.1;
  border: 0.05rem solid #FF6F68;
  border-radius: 1rem;
  padding: 0.35rem;
  box-shadow: #FF6F68 0.2rem 0.2rem 0.4rem;
}

.start-area {
  width: 80%;
  background-color: #333333;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0 3.13rem 0;
  min-height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  padding: 0;
  margin: 0.5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.both-login-inputs {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.5rem 1.5rem 0.5rem;
  width: 30rem;
  flex-grow: 1;
}

.single-login-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  flex-grow: 1;
}
.single-login-input label {
  margin: 0 0 0.5rem 0;
} 

.single-login-input input {
  margin: 0.5rem 0;
  border-radius: 2rem;
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  color: #F5F7FF;
}

.single-login-input input::placeholder {
  color: #F5F7FF;
  text-align: center;
}

.single-login-input input:hover {
  box-shadow: #FF6F68 0.2rem 0.2rem 0.4rem;  
}

.login-button {
  border: none;
  background-color: transparent;
  padding: 0.4rem;
  color: #F5F7FF;
  font-weight: bold;  
}

.login-button:hover {
  cursor: pointer;
  scale: 1.05;
  border: 0.05rem solid #FF6F68;
  border-radius: 1rem;
  padding: 0.35rem;
  box-shadow: #FF6F68 0.2rem 0.2rem 0.4rem;
}

.signup-form {
  padding: 0;
  margin: 0.5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 10rem;
}

.both-signup-inputs {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.5rem 1.8rem 0.5rem;
  flex-grow: 1;
  margin: 0;
}

.single-signup-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  flex-grow: 1;
}

.single-signup-input label {
  margin: 0 0 0.2rem 0;
  flex-grow: 1;  
} 

.single-signup-input input {
  margin: 0.2rem 0;
  flex-grow: 1;  
  border-radius: 2rem;
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  color: #F5F7FF;
}

.single-signup-input input::placeholder {
  color: #F5F7FF;
  text-align: center;
}

.single-signup-input input:hover {
  box-shadow: #FF6F68 0.2rem 0.2rem 0.4rem;  
}
