.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 100vh;
}

.start-title-container {
  background-color: #457b9d;
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
  display: flex;
}

.start-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-logo img:hover {
  animation-name: spin2D;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

.start-title {
  font-size: 3rem;
  width: 65vw;
  color: #F5F7FF;
  flex-grow: 1;
}

.start-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 1rem;
  flex-grow: 1;
}

.start-img-container {
  background-color: #457b9d;
  border-radius: 2rem;
  padding: 1rem;
  flex-grow: 1;
  margin: 0 1rem;
  display: flex;
}

.all-images {
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 20rem;
}

.img {
  width: 20rem;
}

.slide-show-1 {
  transform: translate(0%);
  transition: all 100ms ease-out;
}

.slide-show-2 {
  transform: translate(-100%);
  transition: all 100ms ease-out;
}

.slide-show-3 {
  transform: translate(-200%);
  transition: all 100ms ease-out;
}

.slide-show-4 {
  transform: translate(-300%);
  transition: all 100ms ease-out;
}

.start-form-container {
  background-color: #457b9d;
  border-radius: 2rem;
  padding: 0 2rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #C8FFE0;
  font-weight: bold;
  flex-grow: 1;
}

.start-form label {
  margin: 0.5rem 0;
}

.start-form input {
  margin: 0.4rem 0.5rem 0.7rem 0.5rem;
  background-color: #33BBC5;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem;
  max-height: 1.8rem;
  color: #C8FFE0;
}

.password {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal-button {
  background-color: transparent;
  border: none;
  margin: 0rem;
}

.reveal-button:hover {
  cursor: pointer;

}

.start-form input::placeholder {
  color: #C8FFE0;;
}

.start-form button {
  margin: 1rem 0;
}

.start-error {
  min-height: 5rem;
  margin: 0.5rem auto;
}

.error-message {
  background-color: #457b9d;
  color: #C8FFE0;;
  padding: 0.9rem;
  border-radius: 2rem;
  font-weight: bold;
}

.start-form-button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 1rem;
  font-weight: 800;
  justify-content: center;
  line-height: 1.5rem;
  margin: 0;
  min-height: 3rem;
  outline: none;
  overflow: visible;
  padding: 1.3rem 1.6rem;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .start-form-button {
    padding: 1.2rem 2rem;
  }
}

.start-form-button:before,
.start-form-button:after {
  border-radius: 2rem;
}

.start-form-button:before {
  background-image: linear-gradient(92.83deg, #C8FFE0 0, #33BBC5 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.start-form-button:after {
  background-color: initial;
  background-image: linear-gradient(#457b9d 0, #075151 100%);
  bottom: 0.2rem;
  content: "";
  display: block;
  left: 0.2rem;
  overflow: hidden;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  transition: all 100ms ease-out;
  z-index: -1;
}

.start-form-button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #6ee6de 0, #33BBC5 100%);
}

.start-form-button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.start-form-button:disabled {
  cursor: default;
  opacity: .24;
}

.create-account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-to-signup {
  margin: 0 0.7rem;
  border: none;
  background-color: transparent;
  color: #6ee6de;
  font-size: 1rem;
  font-weight: bold;
}

.go-to-signup:hover {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes spin2D {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

// Sign Up Page

.both-signup-input {
  display: flex;
  flex-direction: column;
}

.single-signup-input {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.2rem;
  max-height: 4rem;
}

.single-signup-input label {
  flex-grow: 1;
}

.single-signup-input input {
  flex-grow: 1;
}

@media screen and (max-width: 700px) { 
  .start-title {
    font-size: 2.5rem;
  }

  .start-img-container {
    margin: 0 0.5rem;
  }

  .start-form-container {
    margin: 0 0.5rem;
  }

  .all-images, .img {
    width: 17rem;
  }

}

@media screen and (max-width: 600px) { 
  .start-title {
    font-size: 2.4rem;
  }

  .start-container {
    flex-direction: column;
    margin: 0 0.3rem;
  }

  .start-form-container {
    margin: 0.5rem 0.5rem;
  }

  .start-form input {
    margin: 0.4rem 1.1rem 0.7rem 1.1rem;
  }

  .all-images, .img {
    width: 25rem;
  }

  .start-form-button {
    padding: 0.8rem 0.8rem;
  }
}

@media screen and (max-width: 500px) { 
  .start-title {
    font-size: 1.8rem;
  }

  .start-logo img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .all-images, .img {
    width: 20.2rem;
  }

  .single-signup-input {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) { 
  .start-title {
    font-size: 1.4rem;
  }

  .start-logo img {
    width: 3.2rem;
    height: 3.2rem;
  }

  .all-images, .img {
    width: 20.5rem;
  }
}

@media screen and (max-width: 330px) { 
  .start-img-container {
    margin: 0rem 2rem;
  }

  .all-images, .img {
    width: 17rem;
  }

  .start-form-container {
    padding: 0.4rem 1rem;
    margin: 0.4rem 1rem;
  }
}
